* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  border: 0.5em solid #e8c9f4;
  background:
    radial-gradient(#e8c9f4 3px, transparent 4px),
    radial-gradient(#e8c9f4 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #e8c9f4 75px, #e8c9f4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #e8c9f4 76px, #e8c9f4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

header, footer {
  background-color:rgba(0,0,0,0.18);
  background: linear-gradient(90deg, rgba(247,210,200,1) 0%, rgba(232,201,244,1) 47%, rgba(202,243,220,1) 100%);
  border-radius: 0px 0px 1em 1em;
  margin: 10px;
}

header {
  height: 15vh;
}

footer {
  padding: 1vh;
}

h1 {
  font-family: 'Orbitron', Verdana;
  font-size: 6.5vh;
  text-align: center;
  color: white;
  text-shadow: -2px 4px black;
  letter-spacing: 2px;
}

main {
  display: flex;
  flex: 1;
  font-family: 'Oxanium', Verdana;
}

aside {
  width: 25vw;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

aside div {
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical centering */
  align-items: center; /* horizontal centering */
}

.left {
  justify-content: space-evenly;
}

.right {
  justify-content: space-evenly;
}

.left div {
  border-radius: 0.5em;
  width: 24vh;
  height: 24vh;
}

.left div p {
  font-size: 4.5vh;
  margin: 0;
}

.socks-box {
  border: 0.5em solid #f7d2c8;
  background: rgba(255,255,255,0.2);
}

.boots-box {
  border: 0.5em solid #caf3dc;
  background: rgba(255,255,255,0.2);
}

/* *****TICTACTOE***** */
.container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 10px;
  justify-content: space-between;
}

.smallbox {
  border: 3px solid purple;
  flex: 0 32%;
  margin-bottom: 2%;
}

#box1 {
  border-radius: 1em 0 0 0;
}
#box3 {
  border-radius: 0 1em 0 0;
}
#box7 {
  border-radius: 0 0 0 1em;
}
#box9 {
  border-radius: 0 0 1em 0;
}
/* ***************** */

.reset {
  padding: 0.6em;
  text-align: center;
  width: 19vh !important;
  min-height: 6vh !important;
  border-radius: 0.6em;
}

.instructions {
  border: 0.5em solid #f7d2c8;
  border-radius: 0.5em;
  padding: 0.5em 1.5em;
}

/* **JAVASCRIPT** */
.appear-message {
  background-color: rgba(255,255,255,0.4);
  border-radius: 0.5em;
  border: 0.5em solid #caf3dc;
  padding: 0.5em 1.5em;
}

.selectedRed {
  background-size: 100%;
  background-position: center;
}

.gradient-animate {
  background: linear-gradient(-90deg, #f7d2c8, #e8c9f4, #caf3dc);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
